.login {
  @include centerBox();
  @include flexBox();
  @include boxSize(both, 60rem, 40rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(#000, 0.2);
  overflow: hidden;

  &-form,
  &-wallpaper {
    @include boxSize(both, 100%);
    position: relative;
    flex-basis: 50%;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }

  &__description {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: rgba(#000, 0.8);
  }

  &-form {
    padding: 4rem;

    &__group {
      position: relative;
      margin-top: 1.5rem;
      &:first-of-type {
        margin-top: 2rem;
      }
    }

    &__label {
      position: absolute;
      top: 30%;
      left: 0;
      z-index: -1;
      color: transparent;
      transition: 0.2s;
    }

    &__input {
      @include boxSize(width, 100%);
      padding: 1rem 0.1rem;
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(#000, 0.5);
      transition: 0.2s;
      &:focus {
        padding: 1rem;
        border: 1px solid $focus-input-color;
        border-radius: 0.5rem;
      }
      &:focus ~ .login-form__label {
        top: -15%;
        left: 8%;
        font-size: 1.1rem;
        font-weight: 500;
        color: $focus-input-color;
        z-index: 1;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0-15%;
          z-index: -1;
          width: 130%;
          height: 100%;
          background-color: #fff;
        }
      }
      &:focus::placeholder {
        color: transparent;
      }

    }

    &__warning {
      visibility: hidden;
      margin-top: 0.5rem;
      font-size: 1.2rem;
      font-style: italic;
      color: #f00;
    }

    &__toggle {
      padding: 0.8rem 1rem;
      position: absolute;
      top: 20%;
      right: 1%;
      transform: translateY(-20%);
      background-color: #fff;

      &-icon {
        &--close {
          display: block;
        }
  
        &--open {
          display: none;
        }
      }
    }


    &__forgot {
      margin-top: 2rem;
      font-size: 1.2rem;
      @include flexBox(flex-end);
    }

    &__signup {
      @include boxSize(width, 60%);
      position: absolute;
      bottom: 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 1.2rem;
    }

    &__link {
      padding-left: 0.5rem;
      color: $primary-color;
      transition: color 0.1s;
      &:hover {
        color: $hover-text-link;
      }
    }

    &__submit {
      @include boxSize(both, 100%, 3.5rem);
      margin-top: 2.5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $primary-color;
      color: #fff;
      font-weight: 500;
      transition: background-color 0.2s;
      &:hover {
        cursor: pointer;
        background-color: rgba($primary-color, 0.8);
      }
    }
  }

  &-wallpaper {
    @include boxSize(both, 100%);
    background: linear-gradient(0deg, rgba(#000, 0.6), rgba(#000, 0.2)),
      url('/assets/image/wallpaper-login.jpg') top center/ cover no-repeat;
  }
}
